.todo_item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.todo_item input{
  font-size: 1.25rem;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 30px;
}

.todo_item .content{
  font-size: 1.25rem;
  flex: 1;
}
.todo_item .date{
  font-size: 1.25rem;
  color: #888;
  margin-right: 10px;

}

.todo_item .btn_remove{
  font-size: 0.75rem;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  color: #888
}