.Button{
  background-color: rgb(236,236,236);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.Button_passive{
  background-color: rgb(17, 165, 12);
  color: #fff;
}

.Button_negative{
  background-color: rgb(255, 0, 0);
  color: #fff;
}