.header{
  padding: 15px 10px;
  text-align: center;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.header > div{
  display: flex;
  align-items: center;
}
.header .header_center{
  width: 50%;
  justify-content: center;
  font-size: 24px;
}

.header .header_left{
  width: 25%;
  justify-content: flex-start;
}

.header .header_right{
  width: 25%;
  justify-content: flex-end;
}