.list{
  display: flex;
  flex-direction: column;
  
}

.list > input{
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-width: 0 0 1px 0;
  box-sizing: border-box;
}
.list > input:focus{
  outline: none;
}

.todo_list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}