.editor{
  display: flex;
  gap: 10px;
}

.editor input{
  width: 100%;
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn_add{
  width: 100px;
  padding: 10px;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  background-color: skyblue;
  color: white;
  cursor: pointer;
}